body{
     margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
}

/* Animation Part */

.animation{
    white-space: nowrap;
    position: relative;
    color: transparent;
}
.animation::before{
    content: 'Influencer';
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(238, 66, 95);
    animation: typing 3s linear infinite;
}
@keyframes typing{
    0%{
        content: 'influ';
    }
    16%{
        content: 'influe';
    }
    32%{
        content: 'influen';
    }
     48%{
        content: 'influenc';
     }
     64%{
        content: 'influence';
     }
     80%{
        content: 'influencer';
     }
     90%{
         content: 'influencer';
     }
     93%{
        content: 'influence'
     }
     96%{
         content: 'influenc';
     }
     99%{
        content: 'influen'
     }
     100%{
        content: 'influe'
     }
}


/* Animation Part End */
  .section-width{
    width: 80%;
    margin: auto; 
} 
.top-part{
    display: flex;
    justify-content: center;
}
.top-left{
    margin-top: 20px;
    padding-right: 100px;
}
.top-left h1{
    font-size: 40px;
    font-weight: 700;
}
.camera img{
    width: 70%;
    margin-left: 100px
}
.half-width{
    width: 50%;
}
.button{
    text-decoration: none;
    padding: 8px;
    background-color: rgb(238, 66, 95);
    color: white;
    border-radius: 25px;
}
.popular-container{
    width: 1050px;
    margin: auto;
}
.popular-container h1{
    font-size: 27px;
    font-weight: 700;
    margin-left: 400px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.product-shadow{
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 15px 0 0 15px;
}
.product-shadow img{
border-radius: 5px;
}
.product-shadow .dollar{
    font-size: 24px;
}
.product-shadow p{
    font-size: 14px;
    padding-left: 8px;
    font-weight: 700;
    color: #787885;
}
.product-shadow span{
    font-size: 14px;
    padding-left: 8px;
    font-weight: 700;
    
}
.fa-star , .fa-star-half-alt , .far{
    color: orange;
    height: 13px;
    width: 13px;
    padding-left: 2px;
}
.see-more{
    color: #e02c6dda ;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
    font-weight: 800;
}
.btn{
    padding-top: 2px;
}
.featured-part{
    width: 1110px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 70px;
}
footer{
    background-color: rgb(35, 30, 65);
    color: rgb(180, 212, 238);
    text-align: center;
    padding: 10px 0px;
}
footer a{
    color: rgb(180, 212, 238);
    font-size: 32px;
    margin-right: 22px;
}


/*----------- 
media querie 
------------*/

@media only screen and (max-width: 688px) {
    main h2 {
      text-align: center;
    }
  
    .top-part {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .top-left {
      width: 100%;
    }
  
    .camera {
      margin-top: 30px;
      width: 60%;
    }
  
    .popular-container {
      width: 100%;
    }
  
    .popular-container h1 {
      width: 100%;
      margin: 0;
    }
  
    .products {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  
    .featured-part {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
    }
  
    .featured-part p {
      width: 100%;
    }
  
    .featured-part img {
      width: 100%;
    }
  }
  
  /* Tablet */
  @media only screen and (max-width: 992px) and (min-width: 689px) {
    main h2 {
      text-align: center;
    }
  
    .top-part {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .top-left {
      width: 100%;
    }
  
    .camera {
      margin-top: 30px;
      width: 90%;
    }
  
    .popular-container {
      width: 100%;
    }
  
    .popular-container h1 {
      width: 100%;
      margin: 0;
      text-align: center;
    }
  
    .popular-container h2 {
      text-align: start;
    }
  
    .products {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  
    .featured-part {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      width: 100%;
    }
}